.srch{
  margin-left: 90px;
  margin-bottom: 50px;
}



body .btn-bg.bg-3 {
  width: 1400px;
  height: 42px;
  background: #181818;
}
body .btn-bg.bg-3 .btn-3 button {
  color: #e5d272;
  background: #787878;
  border: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body .btn-bg.bg-3 .btn-3 button:hover {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  background: transparent;
  color: #f6f7c5;
}
body .btn-bg.bg-3 .btn-3 button:hover:after {
  transition: all 0.3s ease;
  width: 100%;
  left: 0;
}
body .btn-bg.bg-3 .btn-3 button:after {
  position: absolute;
  transition: all 0.3s ease;
  content: '';
  width: 0;
  bottom: 0;
  left: inherit;
  right: 0;
  height: 3px;
  background: #f6f7c5;
}


.btn {
  margin: 0 auto 30px auto;
  display: block;
}

button {
  margin-left: 900px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 0.3rem 0.9rem 0.3rem 0.9rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.1em;
}
button a {
  text-decoration: none;
}
@-moz-keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@-webkit-keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@-o-keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@-moz-keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}
@-o-keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}
@keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}